<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	
	<title>{{ page.title }} - Chris Dzombak</title>
	
	<meta name="author" content="Chris Dzombak">
	
	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
	<!-- <link href='http://fonts.googleapis.com/css?family=Arimo:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:regular' rel='stylesheet' type='text/css'>
	
	<!-- CSS : implied media="all" -->
	<link rel="stylesheet" href="http://chris.dzombak.name/css/style.css">
	
	<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
	<!-- async google analytics won't affect performance up here. -->
	<script src="http://chris.dzombak.name/js/libs/modernizr-1.6.min.js"></script>
</head>

<body>

	<div id="container">
	
		<header class="primary-header">
			<hgroup>
				<h1 style="text-transform: none;"><a href="http://chris.dzombak.name">chris dzombak : OSS</a></h1>
				<p id="bio">University of Michigan CS engineering student, photographer, theatre kid, music lover. 
				Developer at <a href="http://nutshell.com">Nutshell</a> and photog for <a href="http://michigandaily.com">the Michigan Daily</a>.</p>
			</hgroup>
			<nav>
				<ul>
					<li><a href="http://chris.dzombak.name/">&laquo; Home/Recent</a></li>
					<li><a href="http://chris.dzombak.name/blog">Blog</a></li>
					<li><a href="http://chris.dzombak.name/engineering">Engineering</a></li>
					<li><a href="http://cdzombak.github.com" rel="me">OSS</a></li>
					<li><a href="http://chris.dzombak.name/journalism">Journalism</a></li>
					<li><a href="http://chrisdzombak.com" rel="me">Photography</a></li>
				</ul>
			</nav>
		</header>
		
		{{ content }}
		
		<footer>
			<p>Site and content &copy; 2011 <a href="http://chris.dzombak.name">Chris Dzombak</a>.</p>
			<p>Contact me at <a href="mailto:chris@chrisdzombak.com">chris@chrisdzombak.com</a>.</p>
		</footer>
	
	</div> <!--! end of #container -->
	
	
	<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
	<![endif]-->
	<script src="http://chris.dzombak.name/js/plugins.js"></script>
	<script src="http://chris.dzombak.name/js/libs/jquery.tweet.js"></script>
	<script src="http://chris.dzombak.name/js/libs/jquery.delicious-cdz.js"></script>
	<script src="http://chris.dzombak.name/js/libs/last.fm.records.js"></script>
	<script src='http://platform.twitter.com/anywhere.js?id=X0OHm1KFc0KB45PhSYC4bA&#038;v=1&#038;ver=3.0.4'></script>
	<script src="http://chris.dzombak.name/js/script.js"></script>
  
</body>
</html>
