<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>{{ page.title }} // Chris Dzombak</title>

	<meta name="author" content="Chris Dzombak">
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}

	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<link rel="alternate" type="application/atom+xml" title="Blog // Chris Dzombak" href="http://chris.dzombak.name/atom.xml">

	<link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="jquery.metabrag.css" />
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery.metabrag.js"></script>

	<script type="text/javascript">
        $(function() {
            $("#metabrag").metabrag({
            	showGithubUserInfo: false,
            	showGithubRepoInfo: false
            });
        });
    </script>

	<!-- CSS : implied media="all" -->
	<link rel="stylesheet" href="/css/style.css">
</head>

<body class="{{ page.bodyClass }}">

	<div id="container">

		<header class="primary-header">
			<hgroup>
				<h1><a href="http://chris.dzombak.name/" title="Chris Dzombak: Home &amp; Recent">Chris Dzombak</a></h1>
			</hgroup>

			<nav>
				<ul>
					<li><a href="http://chris.dzombak.name/" title="Home &amp; Recent">&laquo; Home</a></li>
					<li><a href="http://chris.dzombak.name/code" title="Open-source projects &amp; code">Code [OSS]</a></li>
					<li><a href="http://chris.dzombak.name/engineering" title="Engineering experience &amp; projects">Engineering</a></li>
					<li><a href="https://github.com/cdzombak" title="cdzombak@github">Github &raquo;</a></li>
				</ul>
			</nav>
		</header>

		{{ content }}

		<footer>
			<p><a href="http://chris.dzombak.name/contact">Contact me</a>.</p>
			<p>Site and content &copy; 2013 <a href="http://chris.dzombak.name">Chris Dzombak</a>.</p>
		</footer>

	</div>
</body>
</html>
